In [2]:
import pandas as pd
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn import svm
from sklearn.metrics import precision_recall_fscore_support as prfs
from sklearn.metrics import classification_report
import sklearn
import HTMLParser
import re
from nltk.stem.porter import PorterStemmer as porterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support
from sklearn.linear_model import LogisticRegression

C:\Users\shekh\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
def cleanTweet(originalTweet):
    htmlParser = HTMLParser.HTMLParser()
    
    tweet = originalTweet;
    # convert to lower case
    tweet = tweet.lower()
    #tweet = htmlParser.unescape(originalTweet);
    #tweet = tweet.decode('windows-1252').encode('ascii', 'ignore')
    #tweet = tweet.decode('windows-1252')
    #tweet = tweet.decode("utf8").encode('ascii', 'ignore')
    #tweet = re.sub(r'[^\x00-\xFF]+', r'', tweet)
    #tweet = re.sub(r'[^\x00-\x7F]+', r'', tweet)
    #tweet = tweet.decode('utf-8').strip()
    #tweet = tweet.decode('unicode_escape').encode('ascii','ignore')
    #tweet = tweet.encode('ascii','ignore')
    tweet = ''.join([i if ord(i) < 128 else ' ' for i in tweet])
    
    # remove URLs in tweet
    tweet = re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '', tweet)

    # remove strings starting with @ in tweet
    tweet = re.sub(r'(\s)@\w+', r'', tweet)
    tweet = re.sub(r'@\w+', r'', tweet)
    
    # remove HTML tags from tweet
    tweet = re.sub('<[^<]+?>', '', tweet)

    # separates words joined with capital words.
    # E.g. DisplayIsAweson to Display Is Awesom
    #tweet = " ".join(re.findall('[A-Z][^A-Z]*', tweet));

    # remove exclamation and other unnecessary characters
    tweet = re.sub(r'[<>!#@$:.,%\?-]+', r'', tweet)

    
    
    tweet = re.sub(r' a ', r' ', tweet)
    tweet = re.sub(r' with ', r' ', tweet)
    tweet = re.sub(r' is ', r' ', tweet)
    tweet = re.sub(r' to ', r' ', tweet)
    tweet = re.sub(r' the ', r' ', tweet)
    tweet = re.sub(r' and ', r' ', tweet)
    tweet = re.sub(r' of ', r' ', tweet)
    tweet = re.sub(r' in ', r' ', tweet)
    tweet = re.sub(r' for ', r' ', tweet)
    tweet = re.sub(r' all ', r' ', tweet)
    tweet = re.sub(r' it ', r' ', tweet)
    tweet = re.sub(r' that ', r' ', tweet)
    tweet = re.sub(r' for ', r' ', tweet)
    tweet = re.sub(r' be ', ' ', tweet)
    tweet = re.sub(r' your ', r' ', tweet)
    tweet = re.sub(r' our ', r' ', tweet)
    tweet = re.sub(r' are ', r' ', tweet)
    tweet = re.sub(r' by ', r' ', tweet)
    tweet = re.sub(r' this ', r' ', tweet)
    tweet = re.sub(r' thi ', r' ', tweet)
    tweet = re.sub(r' from ', r' ', tweet)
    tweet = re.sub(r' or ', r' ', tweet)
    tweet = re.sub(r' website_redact ', r' ', tweet)
    tweet = re.sub(r' at ', r' ', tweet)
    tweet = re.sub(r' on ', r' ', tweet)
    tweet = re.sub(r' href= ', r' ', tweet)
    tweet = re.sub(r'\btarget=_blank\b', r' ', tweet)
    tweet = re.sub(r' also ', r' ', tweet)
    tweet = re.sub(r' can ', r' ', tweet)
    tweet = re.sub(r' call/text ', r' ', tweet)
    tweet = re.sub(r' email ', r' ', tweet)
    tweet = re.sub(r' viewingcontact ', r' ', tweet)
    tweet = re.sub(r' id ', r' ', tweet)
    tweet = re.sub(r' veri ', r' ', tweet)
    tweet = re.sub(r' kagglemanagercom ', r' ', tweet)
    tweet = re.sub(r' website_redact', r' ', tweet)
    # remove extra white spaces
    tweet = re.sub(r'\s+', r' ', tweet)
    
    # stemming
    stemmer = porterStemmer()
    stemmedTweet = [stemmer.stem(word) for word in tweet.split(" ")]
    stemmedTweet = " ".join(stemmedTweet)
    
    tweet = str(stemmedTweet)
    tweet = tweet.replace("'", "")
    
    return tweet

In [4]:
df = pd.read_json('C:/Users/shekh/Desktop/rentallisting/train.json')

In [5]:
df['display_address'] = df['display_address'].astype('category')
df['display_address_codes'] = df['display_address'].cat.codes

df['latitude'] = df['latitude'].astype('category')
df['latitude_codes'] = df['latitude'].cat.codes

df['longitude'] = df['longitude'].astype('category')
df['longitude_codes'] = df['longitude'].cat.codes

df['manager_id'] = df['manager_id'].astype('category')
df['manager_id_codes'] = df['manager_id'].cat.codes

df['interest_level'] = df['interest_level'].astype('category')
df['interest_level_codes'] = df['interest_level'].cat.codes

In [9]:
jointFeaturesDescColumn = df[['description','features']]

In [25]:
jointFeaturesDescList = []
for row in jointFeaturesDescColumn.iteritems():
    tempList = row[1];
    print tempList.iloc[2];
#     print tempList;
#     print tempList.size;
    break;
    #featureStr = ''.join(row[1]); 
#     featureStr = cleanTweet(featureStr).encode('ascii', 'ignore').strip();
#     feature_column_list.append(featureStr);

Top Top West Village location, beautiful Pre-war building with laundry in the basement and live in super!<br/><br/>Apartment features a large bedroom with closet. Separate living room, kitchen features granite tops, dishwasher and microwave included, marble bathroom and hardwood flooring. Building is very well maintained and conveniently located near A,C,E,L,1,2,3 trains. Surrounded by many local cafe?s, restaurants, available for November 1st move in!<br/><br/>To view this apartment or any other please contact me via email or call at the number listed.<br/><br/><br/><br/><br/><br/>Bond New York is a real estate broker that supports equal housing opportunity.<p><a  website_redacted
10        A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...
10000
100004    Top Top West Village location, beautiful Pre-w...
100007    Building Amenities - Garage - Garden - fitness...
100013    Beautifully renovated 3 bedroom flex 4 bedroom...
100014
100016    Stunning unit with a great location and lots o...
100020    This huge sunny ,plenty of lights 1 bed/2 bath...
100026                             <p><a  website_redacted
100027    This is a spacious four bedroom with every bed...
100030    New to the market! Spacious studio located in ...
10004     Check out this one bedroom apartment in a grea...
100044    ***LOW FEE. Beautiful CHERRY OAK WOODEN FLOORS...
100048    Lincoln Square's premier full service building...
10005     Spacious 1-Bedroom to fit King-sized bed comfo...
100051    Stunning  full renovated studio unit. High cei...
100052    East Village is a great community with great p...
100053    *Location: Thayer St. &amp; Broadway, Manhatta...
100055
100058
100062    BEAUTIFUL 2 BEDROOM POSSIBLE CONVERSION INTO T...
100063    No fee huge two bedroom apartment. Great locat...
100065
100066    CooperCooper.com :: Web ID #179546; Access 100...
10007     SPRAWLING 2 BEDROOM FOUND! ENJOY THE LUXURY OF...
100071    Amazing 4 bedroom convertible. Remarkably luxu...
100075    Don't miss out on this fantastic apartment.......
100076    The TRUE 1 bedroom apartment features extra la...
100079            Currently under renovation, this one b...
100081    Gut Renovated Apartment with Stainless steel a...
                                ...
99915     Elegant, spacious one bedroom in modern luxury...
99917
99919     (((((IMPORTANT NOTICE))))) If you are planning...
99921     WASHER & DRYER IN UNIT ++ 5 MINUTE WALK TO R T...
99923     Tremendous Classic Six in a Luxurious Prewar D...
99924     Luxury Living--- Full-Time Doorman--- Concierg...
99931     Only one block form Washington Square Park! Ne...
99933     THIS RESIDENCE FEATURES STAINLESS STEAL  APPLI...
99935     This newly renovated 1 bedroom unit is recentl...
99937     Bedroom on top, Living room on bottom<br /><br...
9994      Don't miss out on this spacious and beautiful ...
99953     This exquisitely appointed 1 bedroom, 1 bath r...
99956     This spacious two bedroom apartment features e...
99960     Great Lower East Side one bedroom.Well maintai...
99961     THIS LARGE AND SPACIOUS 3 BD/ONE BA APARTMENT ...
99964     77TH ST! FULLY GUT RENOV STUDIO! HI CEIL! XPSD...
99965     Full-Time Doorman PET FRIENDLYElevator GYMLaun...
99966     This is a Great Opportunity to Rent an Excelle...
99979
99980     Incredibly sunny and spacious studio apartment...
99982     LUXURY BUILDING IN MIDTOWN WEST, 24 HR DOORMAN...
99984     Huge true king size one bedroom in an elevator...
99986     Charming one bedroom! Hardwood floors, sunny, ...
99987     **89th & Park Ave! (block from the central par...
99988     24hr Doorman Luxury building in the heart of t...
9999      30TH/3RD, MASSIVE CONV 2BR IN LUXURY FULL SERV...
99991     HIGH END condo finishes, swimming pool, and ki...
99992     Large Renovated One Bedroom Apartment with Sta...
99993     Stylishly sleek studio apartment with unsurpas...
99994     Look no further!!!  This giant 2 bedroom apart...
Name: description, dtype: object
49352

In [5]:
features_column = df['features']
label_column = df['interest_level_codes']

In [6]:
feature_column_list = []
for row in features_column.iteritems():
    tempList = row[1];
    featureStr = ''.join(row[1]); 
    featureStr = cleanTweet(featureStr).encode('ascii', 'ignore').strip();
    feature_column_list.append(featureStr);

print len(feature_column_list)

49352

In [7]:
label_column_list = label_column.tolist();
print len(feature_column_list)

49352

In [8]:
# Create feature vectors
vectorizer = TfidfVectorizer(min_df=0.00125,
                             max_df = 0.80,
                             sublinear_tf=True,
                             use_idf=True,
                             stop_words=u'english',
                             analyzer='word',
                             ngram_range=(1,5),lowercase=True)

In [9]:
totalVectors = vectorizer.fit_transform(feature_column_list);
print totalVectors.shape

(49352, 1248)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(totalVectors,label_column_list,test_size=0.25,random_state=15,stratify=label_column_list);

In [11]:
print X_train.shape
print X_test.shape

(37014, 1248)
(12338, 1248)

In [12]:
def generate_rf(X_train, y_train, X_test, y_test):
    rf = RandomForestClassifier(n_estimators=50, min_samples_leaf=10)
    rf.fit(X_train, y_train)
    print "rf score ", rf.score(X_test, y_test)
    return rf

def combine_rfs(rf_a, rf_b):
    rf_a.estimators_ += rf_b.estimators_
    rf_a.n_estimators = len(rf_a.estimators_)
    return rf_a

In [13]:
rfs = [generate_rf(X_train, y_train, X_test, y_test) for i in xrange(10)]
rf_combined = reduce(combine_rfs, rfs)

print "rf combined score", rf_combined.score(X_test, y_test)

rf score  0.697925109418
rf score  0.697438806938
rf score  0.696628302804
rf score  0.696466201978
rf score  0.696709353218
rf score  0.696709353218
rf score  0.696547252391
rf score  0.697438806938
rf score  0.696790403631
rf score  0.696790403631
rf combined score 0.696466201978

In [14]:
predicted_labels = rf_combined.predict(X_test)

In [15]:
target_names = ['0', '1', '2']

In [16]:
actual_class_labels = y_test;
predicted_class_labels = predicted_labels.tolist();

In [17]:
print(classification_report(actual_class_labels, predicted_class_labels, target_names=target_names))

             precision    recall  f1-score   support

          0       0.55      0.01      0.01       960
          1       0.70      0.99      0.82      8571
          2       0.42      0.05      0.09      2807

avg / total       0.63      0.70      0.59     12338

In [18]:
description_column = df['description']

In [19]:
desc_column_list = []
for row in description_column.iteritems():
    tempList = row[1];
    descStr = ''.join(row[1]); 
    descStr = cleanTweet(descStr).encode('ascii', 'ignore').strip();
    desc_column_list.append(descStr);

print len(desc_column_list)

49352

In [20]:
totalDescVectors = vectorizer.fit_transform(desc_column_list);
print totalDescVectors.shape

(49352, 13759)

In [21]:
X_desc_train, X_desc_test, y_desc_train, y_desc_test = train_test_split(totalDescVectors,label_column_list,test_size=0.25,random_state=15,stratify=label_column_list);

In [22]:
def generate_rf(X_desc_train, y_desc_train, X_desc_test, y_desc_test):
    rf = RandomForestClassifier(n_estimators=50, min_samples_leaf=10)
    rf.fit(X_desc_train, y_desc_train)
    print "rf score ", rf.score(X_desc_test, y_desc_test)
    return rf

def combine_rfs(rf_a, rf_b):
    rf_a.estimators_ += rf_b.estimators_
    rf_a.n_estimators = len(rf_a.estimators_)
    return rf_a

In [23]:
rfs = [generate_rf(X_desc_train, y_desc_train, X_desc_test, y_desc_test) for i in xrange(10)]
rf_combined = reduce(combine_rfs, rfs)

print "rf combined score", rf_combined.score(X_desc_test, y_desc_test)

rf score  0.703679688766
rf score  0.703922840006
rf score  0.7032744367
rf score  0.70303128546
rf score  0.70376073918
rf score  0.703112335873
rf score  0.7044901929
rf score  0.703679688766
rf score  0.704084940833
rf score  0.702463932566
rf combined score 0.704165991247

In [24]:
desc_predicted_labels = rf_combined.predict(X_desc_test)

In [25]:
desc_actual_class_labels = y_desc_test;
desc_predicted_class_labels = desc_predicted_labels.tolist();

In [26]:
print(classification_report(desc_actual_class_labels, desc_predicted_class_labels, target_names=target_names))

             precision    recall  f1-score   support

          0       0.53      0.02      0.05       960
          1       0.71      0.99      0.83      8571
          2       0.55      0.07      0.12      2807

avg / total       0.66      0.70      0.61     12338

In [27]:
df.columns

Index([            u'bathrooms',              u'bedrooms',
                 u'building_id',               u'created',
                 u'description',       u'display_address',
                    u'features',        u'interest_level',
                    u'latitude',            u'listing_id',
                   u'longitude',            u'manager_id',
                      u'photos',                 u'price',
              u'street_address', u'display_address_codes',
              u'latitude_codes',       u'longitude_codes',
            u'manager_id_codes',  u'interest_level_codes'],
      dtype='object')

In [28]:
featuresDF = df[['bathrooms','bedrooms','price','longitude_codes','latitude_codes','photos','display_address_codes','manager_id_codes']]

In [29]:
featuresDF.head(1)

,bathrooms,bedrooms,price,longitude_codes,latitude_codes,photos,display_address_codes,manager_id_codes
10,1.5,3,3000,879,867,[https://photos.renthop.com/2/7211212_1ed4542e...,6544,1239

In [30]:
new_features_df = pd.DataFrame();
type(new_features_df)
new_features_df.shape

(0, 0)

In [31]:
for row in featuresDF.iterrows():
    row[1].set_value('no_of_photos',len((row[1])['photos']));
    new_features_df = new_features_df.append(row[1]);

In [34]:
#new_features_df = new_features_df.drop('photos', axis=1)
new_features_df['bathrooms'] = new_features_df['bathrooms'].astype('category')
new_features_df['bedrooms'] = new_features_df['bedrooms'].astype('category')
new_features_df['latitude_codes'] = new_features_df['latitude_codes'].astype('category')
new_features_df['longitude_codes'] = new_features_df['longitude_codes'].astype('category')
new_features_df['manager_id_codes'] = new_features_df['manager_id_codes'].astype('category')
new_features_df['no_of_photos'] = new_features_df['no_of_photos'].astype('category')
new_features_df['price'] = new_features_df['price'].astype('category')

In [35]:
new_features_df.head(1)

,bathrooms,bedrooms,display_address_codes,latitude_codes,longitude_codes,manager_id_codes,no_of_photos,price
10,1.5,3.0,6544.0,867.0,879.0,1239.0,5.0,3000.0

In [36]:
new_features_train, new_features_test, new_features_y_train, new_features_y_test = train_test_split(new_features_df,label_column_list,test_size=0.25,random_state=15,stratify=label_column_list)
print len(new_features_train)
print len(new_features_test)
print len(new_features_y_train)
print len(new_features_y_test)

37014
12338
37014
12338

In [37]:
def generate_rf(new_features_train, new_features_y_train, new_features_test, new_features_y_test):
    rf = RandomForestClassifier(n_estimators=50, min_samples_leaf=10)
    rf.fit(new_features_train, new_features_y_train)
    print "rf score ", rf.score(new_features_test, new_features_y_test)
    return rf

def combine_rfs(rf_a, rf_b):
    rf_a.estimators_ += rf_b.estimators_
    rf_a.n_estimators = len(rf_a.estimators_)
    return rf_a

In [38]:
rfs = [generate_rf(new_features_train, new_features_y_train, new_features_test, new_features_y_test) for i in xrange(10)]
rf_combined = reduce(combine_rfs, rfs)

print "rf combined score", rf_combined.score(new_features_test, new_features_y_test)

rf score  0.71608040201
rf score  0.715918301183
rf score  0.717215107797
rf score  0.716242502837
rf score  0.713973091263
rf score  0.71656670449
rf score  0.715756200357
rf score  0.713405738369
rf score  0.717458259037
rf score  0.71656670449
rf combined score 0.715431998703

In [39]:
predict_lab = rf_combined.predict(new_features_test)

In [40]:
new_features_actual_class_labels = new_features_y_test;
new_features_predicted_class_labels = predict_lab.tolist();

In [41]:
print(classification_report(new_features_actual_class_labels, new_features_predicted_class_labels, target_names=target_names))

             precision    recall  f1-score   support

          0       0.63      0.15      0.25       960
          1       0.74      0.96      0.84      8571
          2       0.44      0.16      0.23      2807

avg / total       0.66      0.72      0.65     12338