In [18]:
import pandas as pd
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import precision_recall_fscore_support as prfs
from sklearn.metrics import classification_report
from sklearn.cross_validation import cross_val_score
import sklearn

In [2]:
df = pd.read_json('train.json')

In [3]:
df['interest_level'] = df['interest_level'].astype('category')
df['interest_level_codes'] = df['interest_level'].cat.codes

df['display_address'] = df['display_address'].astype('category')
df['display_address_codes'] = df['display_address'].cat.codes

df['latitude'] = df['latitude'].astype('category')
df['latitude_codes'] = df['latitude'].cat.codes

df['longitude'] = df['longitude'].astype('category')
df['longitude_codes'] = df['longitude'].cat.codes

In [4]:
#df[['interest_level','interest_level_codes']].head(2)
#print(df['interest_level_codes'].hist())
#df.to_csv('generated-data-with-codes.csv',sep=',', encoding='utf-8')
#df['interest_level_codes'].value_counts()
#df['display_address_codes'].value_counts()

In [5]:
df.head(2)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level_codes,display_address_codes,latitude_codes,longitude_codes
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,2,6544,867,879
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue,1,4506,1665,637

In [6]:
y_label = df['interest_level_codes']
feature_matrix_df = df[['bathrooms','bathrooms','price','display_address_codes','longitude_codes','latitude_codes']];

In [7]:
feature_matrix_df.head(2)

,bathrooms,bathrooms,price,display_address_codes,longitude_codes,latitude_codes
10,1.5,1.5,3000,6544,879,867
10000,1.0,1.0,5465,4506,637,1665

In [8]:
X_train, X_test, y_train, y_test = train_test_split(feature_matrix_df,y_label, test_size=0.25)
print len(X_train)
print len(X_test)
print len(y_train)
print len(y_test)

37014
12338
37014
12338

In [9]:
multinomialNBClassifier = MultinomialNB();

In [10]:
multinomialNBClassifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [11]:
predicted_labels = multinomialNBClassifier.predict(X_test)

In [12]:
actual_class = y_test.tolist()
predicted_class = predicted_labels.tolist()

In [13]:
target_names = ['0', '1', '2']

In [14]:
print(classification_report(actual_class, predicted_class, target_names=target_names))

             precision    recall  f1-score   support

          0       0.12      0.50      0.19      1005
          1       0.74      0.42      0.53      8527
          2       0.23      0.26      0.24      2806

avg / total       0.58      0.39      0.44     12338

In [15]:
#predicted_prob_labels = multinomialNBClassifier.predict_proba(X_test);

In [16]:
score = multinomialNBClassifier.score(X_test,actual_class);
print score;

0.388069379154

In [19]:
cvScores = cross_val_score(multinomialNBClassifier, feature_matrix_df, y_label, cv=10, scoring='f1_micro');
print cvScores;

[ 0.38269854  0.38229335  0.386953    0.40538898  0.39574468  0.39696049
  0.39716312  0.39797366  0.39898683  0.38374214]

In [ ]:
#print len(predicted_prob_labels)
#prob_labels_list = predicted_prob_labels.tolist()
#print prob_labels_list